
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.asdf-6iD {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  box-sizing: border-box;
  padding: 4.2rem 9rem 15.4rem 8rem;

  .pyojeol-checker-YCq {
    margin: 0rem 0rem 2.1rem 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 8rem;
    font-weight: 800;
    line-height: 1.2175;
    flex-shrink: 0;
  }
  .item--gyF {
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.4475;
    color: #cacaca;
    justify-content: center;
    font-size: 4.8rem;
    font-family: Noto Sans KR, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 7.4rem 1.1rem;
    display: flex;
    align-items: center;
  }
  .auto-group-vycv-zsT {
    margin: 0rem 60.15rem 2rem 2.55rem;
    width: calc(100% - 62.7rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .item-1-Bys {
      margin-right: 71.9rem;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      line-height: 1.4475;
      flex-shrink: 0;
      display: flex;
      font-size: 4.8rem;
      color: rgba(255, 255, 255, 0.8000000119);
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-2-BsP {
      line-height: 1.4475;
      color: rgba(255, 255, 255, 0.8000000119);
      flex-shrink: 0;
      justify-content: center;
      font-weight: 700;
      font-size: 4.8rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
  }
  .auto-group-cduq-pfT {
    flex-shrink: 0;
    margin-bottom: 6.1rem;
    width: 100%;
    height: 33rem;
    display: flex;
    align-items: center;

    .auto-group-89xy-WoB {
      font-weight: 500;
      line-height: 1.4475;
      color: rgba(255, 255, 255, 0.8000000119);
      background-color: #8e51f2;
      flex-shrink: 0;
      height: 100%;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      border-radius: 4rem;
      margin-right: 9rem;
      width: 83rem;
      display: flex;
      font-size: 4.8rem;
      font-family: Noto Sans KR, 'Source Sans Pro';
    }
    .auto-group-wk6m-Gvm {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 9.5rem 16rem 9.6rem 18.7rem;
      width: 83rem;
      height: 100%;
      background-color: #583a8a;
      border-radius: 4rem;

      .item--Hqs {
        align-items: center;
        justify-content: center;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 1.4475;
        display: flex;
        color: rgba(255, 255, 255, 0.8000000119);
        font-family: Noto Sans KR, 'Source Sans Pro';
        max-width: 48.3rem;
      }
    }
  }
  .auto-group-y32m-S6V {
    width: calc(100% - 143.8rem);
    height: 14rem;
    display: flex;
    font-size: 6.4rem;
    line-height: 1.4475;
    border-radius: 4rem;
    justify-content: center;
    margin: 0rem 71.4rem 0rem 72.4rem;
    align-items: center;
    color: #57ca5c;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 700;
    font-family: Noto Sans KR, 'Source Sans Pro';
    background-color: #3f6940;
  }
}
