
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.nolayout-zHf {
  width: 100%;
  height: 269.7rem;
  position: relative;
  background-color: #222222;

  .solar-pulse-outline-t89 {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 2.4rem;
    top: 267.3rem;
    overflow: hidden;
  }
  .solar-file-outline-c49 {
    overflow: hidden;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 113rem;
    top: 0;
  }
  .pyojeol-checker-9Jy {
    height: 9.8rem;
    left: 62.1rem;
    justify-content: center;
    color: #ffffff;
    top: 165.9rem;
    display: flex;
    font-weight: 800;
    line-height: 1.2175;
    white-space: nowrap;
    width: 67.9rem;
    position: absolute;
    align-items: center;
    font-size: 8rem;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .item--DZj {
    width: 74.8rem;
    justify-content: center;
    font-family: Noto Sans KR, 'Source Sans Pro';
    position: absolute;
    align-items: center;
    font-weight: 400;
    color: #cacaca;
    white-space: nowrap;
    left: 58.65rem;
    display: flex;
    font-size: 4.8rem;
    line-height: 1.4475;
    height: 7rem;
    top: 177.8rem;
  }
  .auto-group-c7gq-qr1 {
    align-items: center;
    width: 175rem;
    height: 41.6rem;
    position: absolute;
    left: 8rem;
    top: 192.6rem;
    display: flex;

    .auto-group-hcih-kTB {
      margin-right: 5rem;
      width: 87rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .group-4-4im {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 83rem;
        height: 33rem;
        top: 8.6rem;
        background-color: rgba(142, 81, 242, 0.200000003);
        border-radius: 4rem;
        padding: 11.5rem 30.6rem 11.5rem 13.5rem;
        position: absolute;
        left: 0;
        border: solid 0.8rem #8e51f2;

        .vector-Jd7 {
          margin-right: 10rem;
          width: 10rem;
          height: 10rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-5-CyP {
          width: 18.9rem;
          height: 8.2rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 1rem;

          .item-00-30-wRB {
            display: flex;
            line-height: 1.4475;
            font-family: Noto Sans KR, 'Source Sans Pro';
            height: 3.5rem;
            position: absolute;
            top: 4.7rem;
            font-size: 2.4rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.5);
            white-space: nowrap;
            width: 6rem;
            left: 0;
          }
          .musicwav-Ctq {
            height: 5.3rem;
            left: 0;
            font-size: 3.6rem;
            white-space: nowrap;
            color: #ffffff;
            font-family: Noto Sans KR, 'Source Sans Pro';
            width: 18.9rem;
            position: absolute;
            top: 0;
            display: flex;
            font-weight: 700;
            line-height: 1.4475;
          }
        }
      }
      .item-1-3uT {
        display: flex;
        line-height: 1.4475;
        color: #a6a6a6;
        font-family: Noto Sans KR, 'Source Sans Pro';
        width: 16.2rem;
        height: 5.8rem;
        position: absolute;
        left: 0;
        white-space: nowrap;
        top: 0;
        font-size: 4rem;
        font-weight: 500;
      }
      .line-1-YrD {
        position: absolute;
        left: 23.5rem;
        top: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 59.5rem;
        height: 0;
      }
      .delete-4pZ {
        height: 8rem;
        position: absolute;
        left: 79rem;
        top: 4.6rem;
        background-color: #8e51f2;
        box-sizing: border-box;
        padding: 2.659rem 2.692rem 2.726rem 2.7rem;
        width: 8rem;
        border-radius: 4rem;

        .x-nVf {
          vertical-align: top;
          width: 2.6072rem;
          height: 2.615rem;
          object-fit: contain;
        }
      }
    }
    .auto-group-zhuq-hcd {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 83rem;
      height: 100%;
      align-items: center;

      .auto-group-ue4v-3wP {
        margin-bottom: 2.8rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-2-oQm {
          font-weight: 500;
          line-height: 1.4475;
          margin-right: 7.3rem;
          display: flex;
          font-size: 4rem;
          color: #a6a6a6;
          font-family: Noto Sans KR, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-2-vEV {
          width: 59.5rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .group-1-5NH {
        flex-shrink: 0;
        width: 100%;
        height: 33rem;
        position: relative;

        .group-2-p4y {
          width: 53.05rem;
          height: 10.5rem;
          position: absolute;
          left: 13.5rem;
          top: 11.25rem;
          display: flex;
          align-items: center;

          .vector-KGd {
            margin: 0rem 6.85rem 0rem 0rem;
            width: 10rem;
            height: 10rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--FRB {
            line-height: 1.4475;
            flex-shrink: 0;
            max-width: 36.2rem;
            display: flex;
            align-items: center;
            font-size: 3.6rem;
            justify-content: center;
            font-weight: 500;
            color: #a6a6a6;
            font-family: Noto Sans KR, 'Source Sans Pro';
          }
        }
        .rectangle-4-7TP {
          border: dashed 0.8rem #a6a6a6;
          box-sizing: border-box;
          border-radius: 4rem;
          width: 83rem;
          height: 33rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
  .auto-group-zm2d-Cjj {
    height: 14rem;
    position: absolute;
    left: 36.2rem;
    top: 249.3rem;
    box-sizing: border-box;
    padding-left: 44.2rem;
    width: 75.4rem;

    .group-7-iCH {
      color: #57ca5c;
      background-color: #2d442e;
      border-radius: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.4475;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
      height: 100%;
    }
  }
  .rectangle-6-Qqo {
    left: 49.2rem;
    top: 234.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 93.3rem;
    height: 8.1rem;
    position: absolute;
  }
  .line-3-uGm {
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 7rem;
    position: absolute;
    left: 96.4rem;
    top: 242.3rem;
  }
}
