
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.new-qSR {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  box-sizing: border-box;
  padding: 4.2rem 8.5rem 7.6rem 8.529rem;
  width: 100%;

  .title-aQ1 {
    margin-bottom: 6.5rem;
    width: 124.9rem;
    flex-shrink: 0;

    .auto-group-3x4v-7eq {
      margin: 0rem 0rem 2.1rem 3.45rem;
      width: calc(100% - 3.45rem);
      display: flex;
      align-items: flex-start;

      .pyojeol-checker-3oP {
        align-items: center;
        justify-content: center;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 37.35rem;
        display: flex;
        font-size: 8rem;
        font-weight: 800;
        color: #ffffff;
        flex-shrink: 0;
      }
      .item-2023--xvM {
        line-height: 1.0416666667;
        text-align: right;
        font-size: 2.4rem;
        font-weight: 400;
        color: #454545;
        font-family: Noto Sans CJK KR, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 16.2rem;
        display: flex;
      }
    }
    .item--pBs {
      width: 100%;
      display: flex;
      font-size: 4.8rem;
      line-height: 1.4475;
      font-family: Noto Sans KR, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      color: #cacaca;
    }
  }
  .group-8-svq {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 0.0292rem;
    width: calc(100% - 0.0292rem);

    .group-6-2Hw {
      flex-shrink: 0;
      width: 100%;
      height: 41.6rem;
      display: flex;
      align-items: center;

      .section1-MLD {
        margin-right: 5.0585rem;
        width: 84.9416rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .title1-4VX {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 2.8rem 0rem;
          width: calc(100% - 0.0001rem);
          display: flex;

          .item-1-Cbj {
            display: flex;
            line-height: 1.4475;
            margin-right: 7.8497rem;
            font-weight: 500;
            color: #a6a6a6;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4rem;
          }
          .line-1-vGq {
            width: 60.8918rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .music1-59j {
          height: 33rem;
          display: flex;
          align-items: center;
          width: 100%;
          padding: 2rem 2.042rem 2rem 13.816rem;
          background-color: rgba(142, 81, 242, 0.400000006);
          border-radius: 5.5rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .vector-bds {
            margin: 0rem 10.455rem 0rem 0rem;
            width: 10rem;
            height: 10rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .group-5-iCh {
            width: 16.2rem;
            height: calc(100% - 20.95rem);
            position: relative;
            flex-shrink: 0;
            margin: 10.05rem 24.429rem 10.9rem 0rem;

            .item-00-30-Egq {
              height: 3.5rem;
              left: 0.0129rem;
              display: flex;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.4475;
              color: rgba(255, 255, 255, 0.5);
              width: 6rem;
              position: absolute;
              top: 4.55rem;
              font-family: Noto Sans KR, 'Source Sans Pro';
              white-space: nowrap;
            }
            .wav-ic1 {
              left: 0;
              display: flex;
              font-size: 3.6rem;
              font-weight: 700;
              font-family: Noto Sans KR, 'Source Sans Pro';
              white-space: nowrap;
              width: 16.2rem;
              height: 5.3rem;
              line-height: 1.4475;
              color: #ffffff;
              position: absolute;
              top: 0;
            }
          }
          .delete-diy {
            box-sizing: border-box;
            padding: 2.659rem 2.692rem 2.726rem 2.7rem;
            background-color: #8e51f2;
            border-radius: 4rem;
            flex-shrink: 0;
            margin-bottom: 21rem;

            .x-aPK {
              height: 2.615rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.6072rem;
            }
          }
        }
      }
      .section2-66m {
        flex-shrink: 0;
        width: 84.9415rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .title1-d6h {
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2.8rem;
          width: 100%;
          display: flex;

          .item-1-Btu {
            margin-right: 7.8497rem;
            line-height: 1.4475;
            flex-shrink: 0;
            display: flex;
            font-size: 4rem;
            font-weight: 500;
            color: #a6a6a6;
            font-family: Noto Sans KR, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-1-upu {
            width: 60.8918rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .music1-3RK {
          background-color: rgba(142, 81, 242, 0.400000006);
          padding: 2rem 2.042rem 2rem 13.816rem;
          width: 100%;
          height: 33rem;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          border-radius: 5.5rem;
          flex-shrink: 0;

          .vector-LvD {
            flex-shrink: 0;
            margin: 0rem 10.455rem 0rem 0rem;
            width: 10rem;
            height: 10rem;
            object-fit: contain;
            vertical-align: top;
          }
          .group-5-GJ5 {
            margin: 9.7rem 8.029rem 10.9rem 0rem;
            width: 32.6rem;
            height: calc(100% - 20.6rem);
            position: relative;
            flex-shrink: 0;

            .item-00-30-zUy {
              width: 6rem;
              position: absolute;
              left: 0.0129rem;
              top: 4.9rem;
              font-size: 2.4rem;
              color: rgba(255, 255, 255, 0.5);
              font-family: Noto Sans KR, 'Source Sans Pro';
              height: 3.5rem;
              display: flex;
              font-weight: 400;
              line-height: 1.4475;
              white-space: nowrap;
            }
            .wav-Vgd {
              height: 5.3rem;
              font-size: 3.6rem;
              font-weight: 700;
              line-height: 1.4475;
              width: 32.6rem;
              position: absolute;
              left: 0;
              top: 0;
              display: flex;
              color: #ffffff;
              font-family: Noto Sans KR, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .delete-yrh {
            border-radius: 4rem;
            flex-shrink: 0;
            margin-bottom: 21rem;
            box-sizing: border-box;
            padding: 2.659rem 2.692rem 2.726rem 2.7rem;
            background-color: #8e51f2;

            .x-Vq3 {
              width: 2.6072rem;
              height: 2.615rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
    }
    .auto-group-ni1j-P9j {
      padding: 0rem 41.883rem 0rem 39.759rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .fromtoline-XFw {
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .rectangle-6-guX {
          width: 93.3rem;
          height: 8.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .line-3-Sdo {
          width: 0;
          height: 7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .runbutton-Css {
        display: flex;
        align-items: center;
        line-height: 1.4475;
        font-family: Noto Sans KR, 'Source Sans Pro';
        border-radius: 5.5rem;
        margin: 0rem 29.696rem 0rem 31.879rem;
        justify-content: center;
        font-size: 6.4rem;
        color: #57ca5c;
        background-color: #2d442e;
        flex-shrink: 0;
        height: 14.1rem;
        font-weight: 700;
        white-space: nowrap;
        width: calc(100% - 61.5749rem);
      }
    }
  }
}
