@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Noto+Sans+KR:wght@400;500;700;800&display=swap');
:root {
  --radius: 1.6rem;
  --background: #1d1d1d;
  --light-gray: #2e2e2e;
  --white-gray: #9b9b9b;
  --primary-color: #8e51f2;
}

* {
  font-family: Noto Sans KR, 'Source Sans Pro';
}

html {
  width: 960px;
  height: 100%;
  font-size: 16px;
  -webkit-user-select: none;
}

body {
  
  width: 100%;
  height: 100%;
  margin: 0;
}

.main {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem 2rem 4rem;
  box-sizing: border-box;
  background-color: var(--background);
  padding-top: calc(2rem + 62px);
}

header {
  top: 0;
  display: flex;
  position: fixed;
  width:100%;
  box-sizing: border-box;
  background-color: rgb(29, 29, 29, 80%);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-bottom: var(--light-gray) solid 1px; 
  backdrop-filter: blur(10px);
  -webkit-app-region: drag;
  z-index: 1;
}

#title-box {
  padding: 0.5rem 0 0.5rem 1rem;
  display: flex;
}

.pyojeol-checker {
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro' !important;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  margin-right: 1rem;
}

.description {
  color: var(--white-gray);
  font-size: 1.2rem;
  font-family: Noto Sans KR, 'Source Sans Pro';
  font-weight: 400;
  text-align: center;
}

#ctrl-box {
  display: flex;
  margin-left: auto;
}

.ctrl-button {
  height: 45px;
  width: 45px;
  display: flex;
  /*중앙정렬*/
  justify-content: center;
  transition: all 0.2s;
  background-color: transparent;
  border-radius: 0.8rem;
  -webkit-app-region: no-drag;
    user-select: none;
}

#close {
  margin-left: 0.2rem;
}

#minimize:hover {
  background-color: rgb(255, 255, 255, 10%);
}

#close:hover {
  background-color: #ff0000b0;
}

.ctrl-button img {
  width: 1rem;
}

.section-box {
  width: 100%;
  height: 14rem;
  display: flex;
  justify-content: space-between;
}

.section {
  width: calc(50% - 2rem);
  height: 100%;
  display: flex;
  flex-direction: column; /* 추가된 부분 */
}

.section-top {
  display: flex;
  align-items: center;
}

.section-top p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white-gray);
  font-family: Noto Sans KR, 'Source Sans Pro';
}

.section-top-line {
  height: 1px;
  margin: 0.5rem 0;
  border-top: var(--light-gray) solid 1px;
  width: 70%; /* 구분선의 길이를 조절합니다 */
  box-sizing: border-box;
  margin-left: auto; /* 중앙 정렬을 위해 왼쪽 마진을 자동으로 설정합니다 */
  margin-right: 0;
}

.file-zone {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: var(--radius);
  border: dashed 2px var(--white-gray);
  background-color: var(--background);
  padding: 0 2rem 0 2rem;
  box-sizing: border-box;
  cursor: pointer;
}

.file-zone p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white-gray);
  font-family: Noto Sans KR, 'Source Sans Pro';
}

.file-zone img {
  width: 3rem;
}

#synth-indicator {
  width: calc(50% + 4rem);
  height: 2rem;
  border-radius: 0 0 var(--radius) var(--radius);
  position: relative;
  margin: 0 auto;
  border: 2px solid transparent;
  border-top: 0;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#result-indicator {
  margin-top: 1rem;
  text-align: center; /* 수평 가운데 정렬 */
  font-size: 1.2rem;
  color: var(--white-gray);
  font-weight: 400;
  display: none;
}

#result-indicator.abled {
  display: block;
}

#analyze {
  width: fit-content; /* 너비를 원하는 크기로 조절하세요 */
  height: 4rem; /* 높이를 원하는 크기로 조절하세요 */
  line-height: 40px; /* 높이와 같게 설정하여 수직 가운데 정렬 */
  text-align: center; /* 수평 가운데 정렬 */
  margin: 0 auto; /* 가운데 정렬을 위한 margin 설정 */
  color: white; /* 글자색 설정 */
  border-radius: var(--radius); /* 테두리 굴곡 설정 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 상태로 표시 */
  margin-top: 2rem; /* 원하는 간격 설정 */
  background-color: #4CAF50;
  filter: grayscale(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.5s;
  box-shadow: none;
  padding: 0 2rem 0 2rem;
}

#analyze.abled {
  filter: grayscale(0%);
}

#analyze.abled:hover {
  box-shadow: 0px 5px 15px 0px #4caf5070;
}

.file-zone.abled {
  background-color: rgba(142, 81, 242, 0.200000003); /* 보라색으로 변경 */
  border: solid 2px #8e51f2;
  cursor:default;
}

.file-zone.abled img {
  filter: brightness(0) invert(1); /* 이미지를 하얀색으로 변경 */
}

.file-zone.abled p {
  color: white; /* 텍스트 색상을 흰색으로 변경 */
}

.file-zone.abled p.abled-text {
  display: block;
}
.file-zone.abled p.disabled-text {
  display: none;
}

.file-zone p.disabled-text {
  display: block;
}
.file-zone p.abled-text {
  display: none;
}

.file-zone.abled .delete {
  display: flex;
}

.file-zone .delete {
  display: none;
}

.delete {
  background-color: #8e51f2;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 23.7rem;
  margin-bottom: 9.7rem;
}

.delete img {
  width: 1rem;
}

.error-message {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 0, 0, 0.7);
  color: #fff;
  border-radius: 0.5rem;
  display:block;
  animation: fadeOut 3s;
}

#by-us {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #5e5e5e;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    bottom: 0.5rem;
  }

  20% {
    opacity: 1;
    bottom: 1rem;
  }

  80% {
    opacity: 1;
    bottom: 1rem;
  }
  
  100% {
    opacity: 0;
    bottom: 1.5rem;
  }
}
